/* import fonts, vars and designs */
@import url("./dynamicStyles/bem.css");
@import url("./dynamicStyles/var.css");
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline-color:var(--card);
}
::selection {
    color: var(--second);
    background: var(--card);
}
:focus {
    outline: 1px solid var(--lighter-primary);
}
body {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: var(--secundary);
    overflow: auto;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 15px;
    gap: 15px;
    color: var(--second);
    border: 0.1px solid var(--gray);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(8, 8, 8, 0.397);
}
form h1 {
    user-select: none;
}
form h1:first-child {
    font-weight: 400;
    font-family: "sofia",cursive;
    color: var(--white);
    text-shadow: 0 3px 3px var(--lighter-primary);
}
form h1:nth-child(2) {
    width: 100%;
}
form div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.span-input {
    position: absolute;
    left: 0;
    width: 100%;
    font-weight: bold;
    font-size: var(--font-size);
    z-index: 1;
    transition: all .2s ease-in-out;
}
.input {
    width: 100%;
    padding: 5px 20px 5px 5px;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--second);
    outline: none;
    font-size: var(--font-size);
    color: transparent;
    z-index: 2;
    transition: all .2s ease-in-out;
}
.input:focus {
    color: var(--second);
}
.input:focus ~ .span-input {
    transform: translateY(-100%);
}
.icon {
    position: absolute;
    font-size: var(--font-size2);
    right: 1%;
    z-index: 3;
    transition: all .2s ease-in-out;
}
.i-password {
    cursor: pointer;
}
.message {
    color: var(--red);
    font-weight: normal;
}
.link {
    position: relative;
    color: var(--second);
    text-decoration: none;
    font-weight: bold;
    font-size: var(--font-size);
    transition: all .2s ease-in-out;
}
.link:hover {
    text-shadow: 
        0 2px 5px var(--card),
        0 2px 5px var(--card);
}
.link::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    top: 100%;
    left: 50%;
    background: var(--second);
    transition: all .2s ease-in-out;
}
.link:hover::before {
    width: 100%;
    left: 0;
    box-shadow: 0 1px 1px 1px var(--card);
}
.btn-send {
    cursor: pointer;
    padding: 5px 10px;
    width: 100%;
    color: var(--black);
    font-size: var(--font-size);
    font-weight: bold;
    border-radius: 10px;
    border:none;
    background: var(--second);
    transition: all .2s ease-in-out;
}
.btn-send:hover {
    background: var(--lighter-primary);
    color: var(--secundary);
}
.span-register {
    display: flex;
    width: 100%;
    gap: 5px;
}
.span-register p {
    font-size: var(--font-size);
}
/* dynamic class */
.inactive {
    display: none;
}
.blur {
    filter: blur(5px);
}

@media (300px < width) {
    form {
        width: auto;
    }
    .div-forgot {
        gap: 25px;
    }
}