/* import fonts, vars and designs */
@import url("bem.css");
@import url("var.css");
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all .3s ease-in-out;
}
::-webkit-scrollbar {
    display:none;
}
::selection {
    color: var(--white);
    background: var(--card);
}
footer {
    background: var(--secundary);
    padding: 10px;
    width: 100%;
    height: auto;
    box-shadow: 0 0 20px rgba(8, 8, 8, 0.397);
    color: var(--second);
    z-index: 40;
}
.footer-section {
    position: relative;
    gap: 10px;
}
.footer-subtitle{
    position: relative;
    font-size: var(--font-size);
    font-weight: bold;
    width: 100%;
    margin: 10px 0;
}
.footer-subtitle::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    top: 100%;
}
.footer-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    list-style: none;
}
.footer-btn-link {
    text-decoration:none;
    color: var(--second);
    font-size: var(--font-size);
}
.footer-list-data {
    font-size: var(--font-size);
}
.footer-redes{
    flex-direction: row;
    gap:5%;
}
.footer-icon-red {
    cursor: pointer;
    padding: 1px;
    background: transparent;
    color: var(--second);
    font-size: var(--size-icon);
    border-radius: 1px;
}
.bxl-facebook:hover {
    background: var(--blue);
    color: var(--white);
    border-radius: 50%;
}
.bxl-instagram:hover {
    color:var(--white);
    background: linear-gradient(-135deg, #833ab4,#fd1d1d,#fcb045);
    border-radius: 50%;
}
.bxl-youtube:hover {
    color: var(--red);
    background: var(--white);
    border-radius: 10px;
    padding: 0;
}
@media (700px < width) {
    footer {
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 20px;
    }
    .footer-section {
        width: 25%;
    }
    .footer-subtitle::before {
        height: 0%;
    }
}